@import "../../../../../../scss/mixins.scss";

.events-box {
    min-height: 100px;
    min-width: 80vw;
    position: absolute;
    background-color: #eeede7;
    top: 7rem;
    left: 10vw;
    right: 10vw;
    color: black;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;

    @include desktop-tablet-breakpoint2 {
        min-width: 90vw;
        left: 5vw;
        right: 5vw;
    }
}