@import "/src/client/scss/mixins.scss";

.new-post {
    width: 100%;
    background-color: white;
    padding: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .new-post-form {
        width: 100%;
    }

    .media, .media-content, textarea {
        min-height: 400px!important;
    }

    @include desktop-tablet-breakpoint2 {
        padding: 1rem;
    }
}