DB=mongodb+srv://[NAME]:[PASSWORD]@[CLUSER-URL]/[DOC NAME]
JWT_SECRET=jwtsecret
PASSWORD_RESET_ACTION_LIFESPAN=90000
EMAILER_NAME=YASN
EMAILER_EMAIL=example@example.com
APP_ADDRESS=https://website.com
