@import "../../../../mixins.scss";

.header {
    position: sticky!important;
    top: 0;
    z-index: 100;
}

.navbar {
    .navlink-active {
        text-decoration: underline;
    }

    .navbar-burger {
        position: fixed;
        top: 0.8rem;
        right: 1rem;
    }

    > div, .navbar-burger {
        min-height: 80px!important;
    }

    .separator {
        min-width: 57.5vw;
        display: flex;
        justify-content: space-between;

        @include desktop-tablet-breakpoint {
            min-width: 50vw;
            max-width: 65vw!important;
        }

        @include desktop-tablet-breakpoint2 {
            min-width: 50vw;
            max-width: 60vw!important;
        }
    }
}

.navbar-item {
    img {
        max-height: initial !important;
    }

    a {
        display: flex;
        align-items: center;
    }
}