.header {
    position: sticky!important;
    top: 0;
    z-index: 100;
}

.navbar {
    .navlink-active {
        text-decoration: underline;
    }
    > div, .navbar-burger {
        min-height: 80px!important;
    }
}

.navbar-item {
    
    img {
        max-height: initial !important;
    }

    a {
        display: flex;
        align-items: center;
    }
}