#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 8rem;

    .control {
        margin-top: auto;
        margin-bottom: auto;
    }
}