.home-landing {
    text-align: center;
    text-transform: uppercase;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    min-height: 75vh;
    flex-grow: 1;

    h1 {
        font-size: 60px!important;
    }

    h2 {
        font-size: 40px!important;
    }

    .underline {
        text-decoration: underline;
    }

    .tile.is-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}