.control input {
    margin-right: 10px;
}

.image-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .file {

    }

    .cropped-preview {
        margin-right: auto;
        margin-left: 10%;
        border-radius: 50%;
    }
}