@import "/src/client/scss/mixins.scss";

.control input {
    margin-right: 10px;
}

.image-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .cropped-preview {
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;

        &.empty {
          height: 0!important;

          canvas {
            max-height: 0!important;
          }
        }

        canvas {
          max-width: 384px!important;
          max-height: 384px!important;

          @include desktop-tablet-breakpoint2 {
            max-width: 320px!important;
            max-height: 320px!important;
          }
        }

        @include desktop-tablet-breakpoint1a {
          margin: auto;
        }
    }

    @include desktop-tablet-breakpoint1a {
      flex-direction: column;
    }
}

.section.signup {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll!important;
}

.crop-window {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .close {
        z-index: 100;
        position: fixed;
        right: 64px;
        top: 64px;
        width: 64px;
        height: 64px;
        opacity: 1;
      
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      
        &:before,
        &:after {
          position: absolute;
          right: 0;
          top: 10px;
          content: ' ';
          height: 64px;
          width: 3px;
          background-color: white;
        }
      
        &:before {
          transform: rotate(45deg);
        }
        
        &:after {
          transform: rotate(-45deg);
        }
      }
      
      .accept {
        z-index: 100;
        position: fixed;
        right: 32px;
        top: 164px;
        opacity: 1;
        cursor: pointer;
        font-size: 48px;
        color: white;
      }
}

.url-wrapper {
  width: 100%;
  position: relative;

  .delete {
    position: absolute;

    top: 0.6rem;
    right: 0.5rem;
  }
}