@import 'bulma/css/bulma.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body, #app {
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &.container-medium {
        max-width: 1252px!important;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    &.container-small {
        max-width: 587px!important;
    }
}

.button {
    min-width: 5.75rem;
}